body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.active{
  background-color: #1ABC9C !important;
  border-radius: 10px;
}
.break div{
  width: 15%;
  height: 4px;
  top: 50%;
}
.break-1{
  left: 210px;
}
.break-2{
  right: 210px;
}